body {
    background: 
        linear-gradient(rgba(6,11,23,0.85), rgba(6,11,23,0.85)),
        url("bg.gif") no-repeat center center fixed;
    background-size: cover;
    font-family: "Segoe UI", sans-serif;
    direction: rtl;
    color: #fff;
    margin: 0;
}


h1 {
    text-align: center;
    margin-bottom: 5px;
}

.desc {
    text-align: center;
    color: #394fa1;
    margin-bottom: 30px;
}

.item {
    margin-bottom: 15px;
}

.title {
    width: 100%;
    background: #151e33;
    border: 1px solid #acb166;
    color: #fff;
    padding: 16px;
    font-size: 16px;
    border-radius: 12px;
    cursor: pointer;
    text-align: right;
}

.title:hover {
    background: #1d284a;
}

.gold {
    border-right: 4px solid #f5c16c;
}

.content {
    display: none;
    background: #2d220f;
    margin-top: 8px;
    border-radius: 10px;
    padding: 15px;
    animation: fade 0.3s ease;
}

@keyframes fade {
    from {opacity: 0; transform: translateY(-5px);}
    to {opacity: 1; transform: translateY(0);}
}

.content li {
    margin-bottom: 8px;
}


